.title {
    font-family: 'Righteous', cursive;
}

.mainBody {
    text-align: center;
    margin: auto;
}

.scoreboard{
    display:flex;
    justify-content: center;

}

.buttons {
    display:flex;
    justify-content: center;
}

.footer{
    font-family: 'Righteous', cursive; 
}

.instructions{
    font-family: 'Righteous', cursive; 
}