.title {
    font-family: 'Righteous', cursive;
}

.mainBody {
    text-align: center;
    margin: auto;
}

.scoreboard{
    display:flex;
}

.buttons {
    display:flex;
}

.footer{
    font-family: 'Righteous', cursive; 
}