.title {
    font-family: 'Righteous', cursive;
    margin: 2em;
}

.mainBody {
    text-align: center;
    margin: auto;
}

.scoreboard{
    display:flex;
    justify-content: center;
    align-content: space-between;
    margin: 2em;

}

#compNum {
    margin: 1em;
}

#userNum {
    margin: 1em;
}

.buttons {
    display:flex;
    justify-content: center;
    margin: 2em;

}

.footer{
    font-family: 'Righteous', cursive; 
    margin: 2em;
}

.instructions{
    font-family: 'Righteous', cursive; 
}

#compNum {
    font-family: 'Righteous', cursive;
}

#userNum {
    font-family: 'Righteous', cursive;
}

.history {
    font-family: 'Righteous', cursive;
    display: flex;
    justify-content: center;
    margin: 1em
}

#wins {
    margin: 1em;
}

#losses {
    margin: 1em;
}